.product{
	background: rgb(223, 218, 217);
	max-width: 500px;
	margin: 0 auto 0 auto;
	padding: 0 20px 0 20px;
	.container{
		margin-top:10%; 
		.card{
			background: rgb(223, 218, 217);
			box-shadow: none;
			.card__title{
			
			}
			.card__img{

			}
			.card__content{

			}
		}
	}
}