<section class="signUp">
	<div class="container" fxLayout="column nowrap" fxLayoutAlign="center center">

		<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column wrap">
			<h4 class="form__title mat-h2">Authorization</h4>
			<!-- username -->
			<mat-form-field class="field">
				<input class="field__input" type="text" formControlName="username" matInput placeholder="Enter username">
				<mat-error class="field__error" *ngIf="form.get('username').invalid && form.get('username').touched">{{getErrorUsername()}}</mat-error>
			</mat-form-field>

			<!-- password -->
			<mat-form-field class="field">
				<input class="field__input" type="password" formControlName="password" matInput placeholder="Enter password">
				<mat-error *ngIf="form.get('password').invalid && form.get('password').touched">{{getErrorPassword()}}
				</mat-error>
			</mat-form-field>

			<!-- [disabled]="form.invalid" -->
			<button class="submit" mat-flat-button color="primary" type="submit">Submit</button>
			<mat-error class="formError" *ngIf="invalid?form.invalid:false">{{errorForm}}</mat-error>
			<mat-error class="formError" *ngIf="notFound">User is not found!</mat-error>
		
		</form>
		
		<!-- password errors-->
		<mat-list class="list"
			*ngIf="form.get('password').invalid && form.get('password').touched && form.get('password').hasError('pattern')">
			<mat-list-item *ngFor="let item of items" class="list__item">
				<strong mat-body-strong>{{ item }}</strong>
			</mat-list-item>
		</mat-list>

	</div>
</section>