.account {
	padding: 0 20px 0 20px;
  .container {
		max-width: 500px;
		margin: 100px auto 0 auto;
    .comments {
      .card {
        margin-top: 20px;
        width: 400px;
        border: 1px solid grey;
        @media (max-width: 500px) {
          width: 300px;
        }
        .card__subtitle {
          .user {
            margin-right: 20px;
            text-transform: underline;
            color: orangered;
          }
        }
        .card__content {
          word-wrap: break-word;
          white-space: normal;
        }
      }
    }
  }
}
