<section class="home">
	<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">

		<h1 @title class="title mat-display-2" fxFlex="100">Home page</h1>

		<div class="images"  fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutAlign.xs="center stretch">
			<div class="images__item">
					<img src="../../../../assets/images/img2.png" alt="image">
			</div>
			<div class="images__item">
					<img src="../../../../assets/images/img5.png" alt="image">
			</div>
			<div class="images__item">
					<img src="../../../../assets/images/img1.png" alt="image">
			</div>
			<div class="images__item">
					<img src="../../../../assets/images/img3.png" alt="image">
			</div>
		</div>
	</div>
</section>


